header#header
  nav.navbar.navbar-inverse.navbar-fixed-top
    .navbar-header
      button.btn.btn-navbar.navbar-toggle(id='', type='button', data-toggle='collapse', data-target='#bs-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a#logo-main.navbar-brand(href='#/home')
        img#brand(alt='Brand', src='', width='200px')
    #bs-navbar-collapse.collapse.navbar-collapse.nav-right
      ul.nav.navbar-nav.navbar-nav-right
        li.nav-li
          a#home-link.nav-li-a(href='#/home') Home
        li.nav-li
          a#gallery-link.nav-li-a(href='#/gallery') Gallery
        li.nav-li
          a#events-link.nav-li-a(href='#/events') Events
          