nav.navbar.navbar-inverse.navbar-static-top
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/')
        img#brand(alt='Brand', src='')
        a#main-logo-name.navbar-brand Brand
      button.btn.btn-success.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
    .navbar-collapse.navHeaderCollapse

      // logo label
      label#obj-title()  
    
      ul.nav.navbar-nav.navbar-right
        li#login.nav
          a.btn.dropdown-toggle(href='/login') LogIn
        li#register.nav
          a.btn.dropdown-toggle(href='/register') Register
  h4.logo-text WE BUILD JAVASCRIPT