doctype html
html(lang="en")
  include partials/head

  body#page
    #wrapper
      header#header
      include partials/header

      main
        block main-content
        
      include partials/footer

      include partials/scripts
