.canvas-container{position:relative}canvas{position:absolute}#background-canvas{background-color:yellowgreen}
#header ul{float:right}main{padding:50px;background-color:whitesmoke;color:black;min-height:550px}
#footer{background-color:black;color:whitesmoke;text-align:center;padding:2%;min-height:100px}